---
import Layout from "../layouts/Layout.astro";

import projects from "./projects.json";

const description = "Your partner in emerging tech";
---

<Layout title="MONO KOTO" description={description}>
  <article class="box">
    <div class="space-y-[1.5rem]">
      <div>
        <h1>Mono Koto</h1>
      </div>

      <p>{description}</p>

      <p>
        From the Japanese <strong>mono</strong> (object thing) and{" "}
        <strong>koto</strong> (concept thing), <span class="text-nowrap"
          >Mono Koto</span
        >
        creates digital objects with conceptual heft.
      </p>

      <div>
        <p>Recent collabs and projects:</p>
        <div class="flex flex-wrap gap-x-2 gap-y-1">
          {
            projects.map((project) => (
              <a
                class="px-1 leading-normal"
                href={project.link}
                target="_blank"
                rel="noopener noreferrer"
              >
                {project.name}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <p>
          Ready to join forces?{" "}
          <a href="mailto:info@mono-koto.com">info@mono-koto.com</a>
        </p>
      </div>
    </div>
  </article>
</Layout>
